
<div id="header-container">


	<div id='header-non-fixed'>
		<div class='icon'><%= image_tag 'nuggets.jpg', alt: "News Nugget", height: "60", width: "100" %></div>
		<div class='heading'>News Nugget</div>
	</div>


	<div id='header-fixed'>News Nugget</div>


</div>
