/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
	font-family: sans-serif;
	padding-top: 80px;
}

.tags {
	display: none;
}


#header-container {
	position:fixed; 
	top: 0px;
	background: #444; 
	/*height: 30px; */
	width: 100%;
	color: #eee;
}

#header-non-fixed {
	/*position:relative; */
	/*position:fixed; */
	display: block;
	height: 30px;
	top: 0px; 
	margin: auto; 
	z-index: 100000; 
	width: 100%;
} 

#header-fixed {
	/*position:fixed; */
	/*position: relative;*/
	top:0px; 
	margin:auto; 
	z-index:100000; 
	width:100%;
	margin: 4px;
	color: #444;
} 

.icon {
	float: left;
	margin: 10px;
}

.heading {
	float: left;
	font-size: 36px;
	vertical-align: middle;
	line-height: 70px;
}

.header-hidden-override {
	color: #eee !important;
	opacity: 0.8;
}

#footer {
	font-size: 10px;
}