/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
	font-family: sans-serif;
	padding-top: 80px;
}

.tags {
	/*display: none;*/
	width: 85%;
	padding-top: 40px;
	margin: auto;
}


#header-container {
	position:fixed; 
	top: 0px;
	background: #444; 
	/*height: 30px; */
	width: 100%;
	color: #eee;
}

#header-non-fixed {
	/*position:relative; */
	/*position:fixed; */
	display: block;
	height: 30px;
	top: 0px; 
	margin: auto; 
	z-index: 100000; 
	width: 100%;
} 

#header-fixed {
	/*position:fixed; */
	/*position: relative;*/
	top:0px; 
	margin:auto; 
	z-index:100000; 
	width:100%;
	margin: 4px;
	color: #444;
} 

.icon {
	float: left;
	margin: 10px;
}

.heading {
	float: left;
	font-size: 36px;
	vertical-align: middle;
	line-height: 70px;
}

.header-hidden-override {
	color: #eee !important;
	opacity: 0.8;
}


.article-background {
	background: #ddd;
}

.article {
	width: 85%;
	padding: 10px;
	margin: auto;
}

.article-title {
	font-size: 42px;
	padding-bottom: 20px;
	/*font-weight: bold;*/
}

.article-image {
	float: left;
	display: block;
}

.article-description-container {
	float: left;
	display: inline-block;
	width: 400px;
	font-size: 22px;
	font-weight: bold;
	color: #333;
	height: 200px;
	line-height: 200px;
	padding-left: 30px;
}

.article-description {
	display: inline-block;
	line-height: 26px;
	vertical-align: middle;
}

.article-text {
	padding-top: 20px;
	clear: left;
	margin-top: 20px;
}

.preview-container a {
	text-decoration: none;
}

.preview-container {
	border: none;
	background: #fff;
	color: #000;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	width: 300px;
	float: left;
	margin-right: 20px;
}

.preview-image img {
	width: 300px;
	height: 200px;
}

.preview-text {
	padding: 8px;
}

.preview-title {
	font-weight: bold;
	color: #333;
}

.preview-description {
	margin-top: 4px;
	font-size: 11px;
	color: #777;
}

#footer {
	font-size: 10px;
}